ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
h1 {
    margin: 0 0 0 0;
    margin-top: 30px;
    color: #000;
    font-weight: 300;
    font-size: 4.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 3em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000
}
h5 {
    margin: 0 0 0 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.9em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "Dosis", sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 300;
    color: #000;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3;
    -moz-transition: color 0.3;
    -o-transition: color 0.3;
    transition: color 0.3
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html {
    overflow-x: hidden
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a{ 
transition:all .3s; 
-moz-transition:all .3s; 
-webkit-transition:all .3s; 
-o-transition:all .3s;
color: #2ACB6E;
} 

a:hover, a:focus{
    color: #000;
}
a:hover{
	text-decoration: none;
}
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden
}
/*h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}*/
/*Your Theme Style*/
/*Header*/
#header .navbar{
    margin: 0;
    background: #fff;
    border: none;
    border-radius: 0;
}
/*Navigation Bar*/
.navbar-default .navbar-nav > li > a{
    font-size: 1em;
    color: #000;
}
.navbar-default .navbar-nav > li {
    position: relative;
    display: inline-block;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #2ECC71;
}
.navbar-default .navbar-nav > .active > a{
    background: transparent;
    color: #2CCB71;
}
.navbar-default .navbar-nav > .active > a:hover{
    background: #2CCB71;
}
.navbar-default .navbar-nav > .active > a:after{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 7.5px 15px 7.5px;
border-color: transparent transparent #2CCB71 transparent;
line-height: 0px;
_border-color: #000000 #000000 #2CCB71 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content: "";
position: absolute;
bottom: 0;
left: 45%;
}

.navbar-default a.navbar-brand{
    padding: 0;
    margin: 0;
    z-index: 1000;
    position: relative;
    display: block;
}

.navbar-default a.navbar-brand .col-logo{
    z-index: 1000;
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.5);
}

.navbar-default .dropdown-menu{
    background: #2ECC71;
    padding: 0;
    margin-left: -20px;
}

.dropdown-menu li a{
    color: #fff;
}

.dropdown-menu li:nth-child(even) a{
    background: #2BAF5C;
}

.dropdown-menu li:nth-child(odd) a{
    background: #2ECC71;
}

.dropdown-menu li a:hover{
    background: rgba(255,255,255,0.2);
    color: #000;
}
.navbar-default .dropdown-menu:after{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 20px solid #30CA6C; 
    position: absolute;
    top: -15px;
    z-index: -1;
    display: block;
    content: "";
    left: 40%;
    right: 40%;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

/*Homepage Slider*/
.flexslider{
    border: none;
    margin: 0;
    box-shadow: none;
}
.flexslider .slides > li{
    position: relative;
}

.flexslider .caption {
position: absolute;
color: #ffffff;
    padding: 20px 10%;
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    text-shadow: none;
    font-family: 'Dosis', sans-serif;
    -webkit-animation-duration: 5s;
-moz-animation-duration: 5s;
-o-animation-duration: 5s;
animation-duration: 5s;
}   

.flex-direction-nav{
    
}

/*Reservation*/
#form-reservation{
    margin: 10px 0;
}
#form-reservation .input-group-addon{
    background: #2DCC70;
}

#form-reservation .input-group .form-control{
    border-color: #000;
}
.input-group-addon {
    border-color: #000;
}
.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
    background: #2DCC70;
    border-color: #2DCC70;
}

.btn-primary:hover, .btn-primary:focus{
    background: #31ED7F;
    border-color: #2DCC70;
}

#services .post-content{
    padding: 30px 0 90px;
}
#services .col-block p{
    text-align: center;
}
/*Maps*/
.maps-content{
    min-height: 300px;
    background: #E5E3DF;
}
.flexslider .caption h1{
    color: #fff;
}

/*Tiles*/
.col-tiles{
    position: relative;
    display: block;
}

.col-tiles .tiles-detail{
    position: relative;
    display: block;
    color: #fff;
}
/*Reservation*/
.form-horizontal .form-group{
    margin: 0;
}

.list-service .boxed{
    position: relative;
    color: #fff;
    height: 100%;
}

.list-service .boxed h3, .list-service .boxed p{
    color: #fff;
    padding: 15px;
}

.flex-active-slide .caption {
-webkit-animation: fadeIn;
-moz-animation: fadeIn;
-o-animation: fadeIn;
animation: fadeIn;
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;
}
.row .flexslider li{
    line-height: 5em;
    font-size: 1em;
}
.row .flexslider li a{
    color: #fff;
    box-shadow: none;
}
.block-label{
    position: relative;
    display: block;
    padding-bottom: 30px;
}
.block-label .col-heading h1{
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.fx-col{
    position: relative;
    display: block;
}

.fx-col .tile{
    position: relative;
    display: block;
    text-align: center;
}
.fx-col .tile a .img-wrapper{
    overflow: hidden;
    background: #fff;
    position: relative;
    display: block;
}
.fx-col .tile a .caption{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: rgba(0,0,0, 0);
    padding: 10px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
}

.fx-col .tile a:hover .caption{
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    top: 0;
    padding-top: 45%;
    opacity: 1;
    transform: translateY(20);
}

.fx-col .tile a .img-wrapper img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-filter: blur(0px);
    filter: url(#no-blur);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'no-blur\'><feGaussianBlur stdDeviation=\'0\' /></filter></svg>#no-blur");
}

.fx-col .tile a:hover .img-wrapper img {
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
    -webkit-filter: blur(5px); 
    filter: blur(5px); 
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: url(#effect-blur);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'effect-blur\'><feGaussianBlur stdDeviation=\'5\' /></filter></svg>#effect-blur");
}

/*img responsive*/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
    -webkit-transition-duration:.3s; 
-moz-transition-duration:.3s; 
-ms-transition-duration:.3s; 
-o-transition-duration:.3s; 
transition-duration:.3s
}

.col-gray{
    background: #F4F4F4;
}

.col-white{
    background: #fff;
    color: #000;
}

.col-pullup{
    margin-top: -210px;
    margin-bottom: 100px;
}

.col-whitransparent{
    background: rgba(255, 255, 255, 0.85);
}

.col-lightgreen{
    background: #2DCC70;
}


.h-cover {
    padding: 150px 0 90px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/general-cover.jpg);
    min-height: 400px;
}
/*UI WIDGET*/
.ui-widget{
    font-family: 'Dosis', sans-serif !important;
    font-size: 13px;
}
/* Datepicker */
#ui-datepicker-div {
    padding: 20px !important;
}
#ui-datepicker-div, .ui-datepicker-title {
    color: #5e5e5e;
}
.ui-widget-content {
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px !important;
    border: 1px solid #ebebeb !important;
    -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 0 0 rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: -3px;
}
.ui-widget-header {
    background: none ;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid !important;
    border-left: none !important;
}
.ui-widget-header, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border-color: #008853 !important;
}
.ui-datepicker-header {
    -webkit-border-radius: 0 0 0 0 !important;
    border-radius: 0 0 0 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: 1px solid #e1e1e1;
}
.ui-datepicker table {
    margin: 0 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: none 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid;
}
/*Icons*/
.bst-icon{
    position: relative;
    display: inline-block;
}
/*Rooms*/
#rooms{
    position: relative;
    display: block;
}
#rooms .col-heading h1{
    text-transform: uppercase;
}

#rooms .col-heading .link-act{
    font-size: 1.4em;
    font-family: 'Dosis', sans-serif;
}
#rooms .col-heading .link-act a{
    text-decoration: underline;
}

#rooms #header-content .col-price{
    margin-top: 20px;
    opacity: 1;
}
#rooms #header-content .col-price h5{
    font-family: 'VerdanaRegular', sans-serif;
    color: #000;
    opacity: 1;
}
.room-block{
    border-bottom: solid thin #B3B3B3;
    margin-bottom: 20px;
}

.room-block .thumb-wrapper{
    box-shadow: none;
    padding: 0;
}

.room-block .price{
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.room-block .price span{
    position: relative;
    display: block;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

.room-block .price span.text-price{
    color: #59BA8F;
    font-size: 2em;
    font-family: 'VerdanaRegular', sans-serif;
}
ul.list-features{
    padding-left: 0;
}

ul.list-features li:before{
    content : "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
  font-family: 'Glyphicons Halflings';
  color: #2ECB70;


}


/*Footer*/
footer#footer{
    background: url('../img/footer-bg.png') no-repeat top left #31D477;
}

#footer .navbar-nav{
    padding: 0;
}
#footer .col-nav-footer .navbar-collapse{
    background: transparent;
}

.col-nav-footer .navbar-nav > li.active > a:after{
    width: 0;
height: 0;
border-style: solid;
border-width: 0 7.5px 15px 7.5px;
border-color: transparent transparent #2ecc70 transparent;
line-height: 0px;
_border-color: #000000 #000000 #2ecc70 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content: "";
position: absolute;
top: -15px;
left: 45%;
}

#footer ul.social-icon li a{
    color: #26AB5C;
    font-size: 1.2em;
}

.list-contact{
    position: relative;
    display: block;
}
.list-contact .list-wrapper{
    border-right: solid thin #9E9E9E;
    margin-top: 40px;
    margin-bottom: 40px;
}
.list-contact .list-wrapper:last-child{
    border-right: none;
}
.list-contact .thumb-wrapper{
    position: relative;
    display: block;
}

.list-contact .thumb-wrapper .glyphicon{
    position: relative;
    display: block;
    font-size: 5em;
    color: #E7E7E7;
}
.list-contact .col-block {
    text-align: center;
    margin-bottom: 30px;
}

#news{
    position: relative;
    display: block;
}
.col-news{
    background: #E7E7E7;
}

#news .news-content{
    padding: 20px;
}

.list-wrapper{
    list-style: none;
    position: relative;
    display: block;
}

.list-wrapper .list{
    margin-bottom: 20px;
}

.selectcustom{
    padding: 0;
}
.select2-container{
    border: none;
}
.select2-container .select2-choice{
    height: 33px;
    line-height: 31px;
    border-color: #000;
    background-image: none;
}

.selectcustom-wrapper{
    border: none;
}

.select2-container .select2-choice .select2-arrow{
    background: #2DCC70;
    border-color: #2DCC70;
    width: 25px;
}

.select2-container .select2-choice .select2-arrow b{
    background-position:3px 2px;
}

.txt-spring-green{
    color: #2ECC71;
}

.txt-ver{
    font-family: 'VerdanaRegular', sans-serif;
}
.nobm{
    margin-bottom: 0 !important;
}

.tri-top{
    position: relative;
    display: block;
}
.tri-top:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #2dcc6f transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #2dcc6f #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -15px;
    left: 45%;
    right: 45%;
}
.tri-top-inner{
    position: relative;
    display: block;
}
.tri-top-inner:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #ffffff transparent transparent transparent;
    line-height: 0px;
    _border-color: #ffffff #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: 45%;
    right: 45%;
}
.tri-btm{
    position: relative;
    display: block;
}
.tri-btm:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #2dcc6f transparent transparent transparent;
    line-height: 0px;
    _border-color: #2dcc6f #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    bottom: -15px;
    z-index: 10;
    left: 45%;
    right: 45%;
}
/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
/* Larger Screens Devices
-------------------------------------------------- */
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

@media (min-width: 980px) {
    
}


@media (min-width: 768px) {
}
/* Medium Devices
-------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px){
}

@media (max-width: 979px) {
   
}

/* Small Devices (tablets)
-------------------------------------------------- */


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    /*slider*/
    .flexslider .caption h1{
        font-size: 2em;
    }

    /*Form Horizontal*/
    .form-horizontal .form-group{
        margin-bottom: 10px;
    }
}

/* Extra small devices(phones)
-------------------------------------------------- */

@media (max-width: 767px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) and (orientation: landscape) {
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
}
/* Landscape phones and smaller */

@media (max-width: 480px) {
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
}
/* fix for small android devices */

@media (max-width: 240px) {
}
/* Smallest browser width fix
-------------------------------------------------- */

@media (min-width: 0px) and (max-width: 351px) {}@media (min-width: 0px) and (max-width: 300px) {
    body {
        min-width: 280px;
    }
}
/* High Resolution Devices 
-------------------------------------------------- */

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Logo */
}
/*>  HELPER  <*/
.m_t_0{margin-top:0}
.m_r_0{margin-right:0}
.m_b_0{margin-bottom:0}
.m_l_0{margin-left:0}
.m_t_5{margin-top:5px}
.m_r_5{margin-right:5px}
.m_b_5{margin-bottom:5px}
.m_l_5{margin-left:5px}
.m_t_10{margin-top:10px}
.m_r_10{margin-right:10px}
.m_b_10{margin-bottom:10px}
.m_l_10{margin-left:10px}
.m_t_15{margin-top:15px}
.m_r_15{margin-right:15px}
.m_b_15{margin-bottom:15px}
.m_l_15{margin-left:15px}
.m_t_20{margin-top:20px}
.m_r_20{margin-right:20px}
.m_b_20{margin-bottom:20px}
.m_l_20{margin-left:20px}
.p_t_5{padding-top:5px}
.p_r_5{padding-right:5px}
.p_b_5{padding-bottom:5px}
.p_l_5{padding-left:5px}
.p_t_10{padding-top:10px}
.p_r_10{padding-right:10px}
.p_b_10{padding-bottom:10px}
.p_l_10{padding-left:10px}
.p_t_15{padding-top:15px}
.p_r_15{padding-right:15px}
.p_b_15{padding-bottom:15px}
.p_l_15{padding-left:15px}
.p_t_20{padding-top:20px}
.p_r_20{padding-right:20px}
.p_b_20{padding-bottom:20px}
.p_l_20{padding-left:20px}
.p_rl_5{padding-right:5px;padding-left:5px}
.p_rl_10{padding-right:10px;padding-left:10px}
.p_rl_15{padding-right:15px;padding-left:15px}
.p_rl_20{padding-right:20px;padding-left:20px}
.m_rl_-5{margin-right:-5px;margin-left:-5px}
.m_rl_5{margin-right:5px;margin-left:5px}
.m_rl_10{margin-right:10px;margin-left:10px}
.m_rl_15{margin-right:15px;margin-left:15px}
.m_rl_20{margin-right:20px;margin-left:20px}
.p_tb_5{padding-top:5px;padding-bottom:5px}
.p_tb_10{padding-top:10px;padding-bottom:10px}
.p_tb_15{padding-top:15px;padding-bottom:15px}
.p_tb_20{padding-top:20px;padding-bottom:20px}
.m_tb_5{margin-top:5px;margin-bottom:5px}
.m_tb_10{margin-top:10px;margin-bottom:10px}
.m_tb_15{margin-top:15px;margin-bottom:15px}
.m_tb_20{margin-top:20px;margin-bottom:20px}
.p_0{padding:0}
.p_5{padding:5px}
.p_10{padding:10px}
.p_15{padding:15px}
.p_20{padding:20px}
.p_25{padding:25px}
.p_30{padding:30px}