@font-face {
    font-family: 'VerdanaRegular';
    src: url('verdana.eot');
    src: url('verdana.eot') format('embedded-opentype'),
         url('verdana.woff2') format('woff2'),
         url('verdana.woff') format('woff'),
         url('verdana.ttf') format('truetype'),
         url('verdana.svg#VerdanaRegular') format('svg');
}

@font-face {
    font-family: 'Dosis';
    src: url('dosis-book.eot');
    src: url('dosis-book.eot') format('embedded-opentype'),
         url('dosis-book.woff2') format('woff2'),
         url('dosis-book.woff') format('woff'),
         url('dosis-book.ttf') format('truetype'),
         url('dosis-book.svg#DosisBook') format('svg');
}

@font-face {
    font-family: 'DosisMedium';
    src: url('dosis-medium.eot');
    src: url('dosis-medium.eot') format('embedded-opentype'),
         url('dosis-medium.woff2') format('woff2'),
         url('dosis-medium.woff') format('woff'),
         url('dosis-medium.ttf') format('truetype'),
         url('dosis-medium.svg#DosisMedium') format('svg');
}

